
*.~*
*.ruleset
/Debug
/Release
/Setup
*.psess
*.vspx
bin
obj
*.suo
*.orig
*.user
Releases
Sources/.nuget/NuGet.Config
Sources/.nuget/NuGet.exe
Sources/.nuget/NuGet.targets
**/.vs/*
**/*.log
**/.vscode/*